# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
/coverage

# Next.js
/.next/
/out/

# production
/build

# local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*